In [2]:
import pandas as pd

##### 1. 타이타닉호 승객 데이터 읽어보기

In [3]:
train = pd.read_csv('train.csv', index_col='PassengerId')
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# 2. 각 컬럼별 데이터 개수 확인

In [18]:
train.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

##### 3. 승객 중 성별 인원수, 선실별 인원수, 사망/생존별 인원수, 나이별 인원수 구하기

In [20]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [21]:
train['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [22]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [23]:
train['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

In [ ]:
ages = train['Age']
bins =

### 나이정보 카테고리 만들기

In [27]:
ages = train['Age']

bins = [0, 15, 25, 35, 60, 99] # 구간
# 구간 -> 초과~이하
labels = ['미성년자', '청년', '중년', '장년', '노년'] # 구간의 이름
# 1~15 - '미성년자', 16~26 - '청년', 26~35 - '중년', 36~60 - '장년', 61~99 - '노년'

cats = pd.cut(ages, bins, labels=labels)

In [31]:
train['Cats'] = cats

In [32]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cats
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,청년
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,장년
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,중년
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,중년
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,중년

In [33]:
train['Cats'].value_counts()

청년      218
중년      196
장년      195
미성년자     83
노년       22
Name: Cats, dtype: int64

##### 4. 타이타닉호 승객을 사망자와 생존자로 나누고 각 그룹에 대한 나이대별 비율 구하기

In [56]:
# 생존자
a = train['Survived'] == 1
survived1 = train[a]['Cats'].value_counts() / train[a]['Cats'].value_counts().sum()
# train[a]['Cats'].value_counts(dropna=False)
# train[a]['Cats'].value_counts() / survived['Cats'].count()

중년      0.286207
장년      0.268966
청년      0.258621
미성년자    0.168966
노년      0.017241
Name: Cats, dtype: float64

In [49]:
# 사망자
b = train['Survived'] == 0
survived0 = train[b]['Cats'].value_counts() / train[b]['Cats'].value_counts().sum()

청년      0.337264
장년      0.275943
중년      0.266509
미성년자    0.080189
노년      0.040094
Name: Cats, dtype: float64

In [51]:
a

PassengerId
1      False
2       True
3       True
4       True
5      False
       ...
887    False
888     True
889    False
890     True
891    False
Name: Survived, Length: 891, dtype: bool

In [57]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

SyntaxError: invalid syntax (4168031062.py, line 1)